<div class="employees-container">
  <h1>Employees</h1>
  <ng-container *ngFor="let contact of contacts">
    <mat-card [ngClass]="{'bfs-emp': contact.sector_id === '100', 'mes-emp': contact.sector_id === '101'}">
      <!-- View for Banking & Finance Sector -->
      <ng-container *ngIf="contact.sector_id === '100'">
        <ng-container [ngTemplateOutlet]="banking" [ngTemplateOutletContext]="{contact: contact}"></ng-container>
      </ng-container>
      <!-- View for Media & Entertainment Sector -->
      <ng-container *ngIf="contact.sector_id === '101'">
        <ng-container [ngTemplateOutlet]="media" [ngTemplateOutletContext]="{contact: contact}"></ng-container>
      </ng-container>

    </mat-card>
  </ng-container>
</div>

<ng-template #media let-contact="contact">
  <div>
    <span><b>Name: </b></span>
    <span>&nbsp; {{contact.name}}</span>
  </div>
  <div>
    <span><b>Designation: </b></span>
    <span>&nbsp; {{contact.designation}}</span>
  </div>
  <div>
    <span><b>BU: </b></span>
    <span>&nbsp; {{contact.sector}}</span>
  </div>
  <div>
    <span><b>Client Name: </b></span>
    <select [(ngModel)]="contact.clientName">
      <option value="cnn_ibn">CNN IBN</option>
      <option value="viacom">Viacom</option>
      <option value="ogilvy">Ogilvy</option>
    </select>
  </div>
</ng-template>

<ng-template #banking let-contact="contact">
  <div>
    <span><b>Name: </b></span>
    <span>&nbsp; {{contact.name}}</span>
  </div>
  <div>
    <span><b>Designation: </b></span>
    <span>&nbsp; {{contact.designation}}</span>
  </div>
  <div>
    <span><b>BU: </b></span>
    <span>&nbsp; {{contact.sector}}</span>
  </div>
  <div>
    <span><b>Client Name: </b></span>
    <select [(ngModel)]="contact.clientName">
      <option value="JPM">JP Morgan</option>
      <option value="Chase">Chase</option>
      <option value="BNP">BNP Paribas</option>
    </select>
  </div>
</ng-template>
